<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lucid Hotels</title>
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <ul>
        @* TODO: Change these reference links to use the controller and view method. *@
        <li><a href="lucid.html">Home</a></li>
        <li><a href="booking.html">Booking</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="partners.html">Partners</a></li>
    </ul>

    <br>
    <hr>
    <br>

    <div>
        @RenderBody()
        <br>
        <hr />
        <footer class="footer">
            <p>
                <b>
                    Lucid Hotels
                    <br>Contact us at +1 (907)-123-4567
                </b>
                <br>Copyright &copy; @DateTime.Now.Year Lucid Hotels®</br>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
