@model UNF_WebDev.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 style="width:auto;">
        Create a New Account
        <hr>
        **Password must be 6 characters long**
    </h1>

    <hr />

    <div>
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>


    <div>
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>


    <div>
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>


    <div>
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>


    <div>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>


    <div>
        <div>
            <input type="submit" value="Create Account" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
