@model UNF_WebDev.Models.RoomModel

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h1 style="width: auto">
        You're only a few clicks away from relaxing at beautiful @Model.hotelName in @Model.city, @Model.state!
    </h1>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.roomId)
        <div>
            @Html.Label("Hotel Name: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.hotelName, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.hotelName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.Label("City: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.Label("State: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.state, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.Label("Zip Code: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zipCode, new { htmlAttributes = new { @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.zipCode, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div>
        @Html.Label("People Per Room: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.peoplePerRoom, new { htmlAttributes = new { @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.peoplePerRoom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        @Html.Label("Price Per Night: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pricePerNight, new { htmlAttributes = new { @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.pricePerNight, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        @Html.Label("Check In Date: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.checkIn, new { type = "date" })
            @Html.ValidationMessageFor(model => model.checkIn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        @Html.Label("Check Out Date: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.TextBoxFor(model => model.checkOut, new { type = "date" })
            @Html.ValidationMessageFor(model => model.checkOut, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Booking Status: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.bookingStatus,
                                                         new SelectList(Enum.GetNames(typeof(UNF_WebDev.Models.RoomModel.BookingStatusDropDown)),
                                                         "Book Now"))
            @Html.ValidationMessageFor(model => model.bookingStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Reserve Room Now" />
            <input type="button" value="Return to Search" onclick="location.href='@Url.Action("Search", "Booking")'" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
