@model IEnumerable<UNF_WebDev.Models.RoomModel>

@{
    ViewBag.Title = "Index";
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Hotel Name
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip Code
        </th>
        <th>
            Room's Square Footage
        </th>
        <th>
            People Per Room
        </th>
        <th>
            Price Per Night
        </th>
        <th>
            Check In Date
        </th>
        <th>
            Check Out Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomSquareFootage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peoplePerRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pricePerNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkOut)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.roomId }) |
                @Html.ActionLink("Details", "Details", new { id = item.roomId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.roomId })
            </td>
        </tr>
    }

</table>
